.content {
  width: 100%;
  border: 1px solid #dfdfdf;
  padding: 15px;
}

.title {
  color: #000;
  font-size: 16px; 
  line-height: 32px;
}

.item {
  font-size: 12px;
  line-height: 22px;
  color: #333333;
}

.code {
  width: 100%;
  padding: 15px;
  background: #f9f9f9;
  border: 1px solid #e8e8e8;
}

.command {
  width: 70%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}