.experimentEditor {
  padding:16px 0px;
}

.tabs{
  margin-top: 16px;
}

.tabs .configureItem {
  padding: 24px 24px 24px 0;
}

.configureItem .noConfigContainer {
  display: flex;
  align-items: center;

}

.configureItem .noConfigContainer img {
  width: 213px;
  height: 150px;
}

.configureItem .noConfigBox {
  margin-left: 40px;
  height: 104px;

}

.configureItem .noConfigBox .customCreate {
  margin-left: 8px;
}

.configureItem .noConfig {
  font-size: 18px;
  color: #111;
  font-weight: bold;
  line-height: 24px;
}

.configureItem .noConfigTips {
  margin-top: 8px;
  margin-bottom: 24px;
  font-size: 12px;
  color: #333;
  line-height: 16px;
}

.steps {
  text-align: justify !important;
  margin-bottom: 21px;
}
