:global(.windcc-app-layout__nav),
:global(.windcc-app-layout__nav > div),
:global(.windcc-app-layout__nav .next-menu),
:global(.windcc-app-layout > div:first-child) {
  width: 208px !important;
  min-width: 208px !important;
  background-color: #EAEDF1 !important;
}

/* 隐藏小图钉 */
:global(.windcc-app-layout__nav + div) {
  display: none !important;
}

:global(.windcc-app-layout__nav .next-menu-item) {
  background-color: #EAEDF1 !important;
}

:global(.windcc-app-layout__nav .next-menu-item:hover) {
  background-color: #F4F6F8 !important;
}

:global(.windcc-app-layout__nav .next-menu-header) {
  background-color: #D9DEE4 !important;
  height: 70px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

:global(.windcc-app-layout__nav .next-nav-item .next-menu-item-text) {
  color: #333 !important;
}

:global(.windcc-app-layout__nav .next-menu-header .header-text) {
  font-size: 12px !important;
  margin-left: -35px !important;
}

:global(.windcc-app-layout__nav .next-menu-item.next-selected) {
  background-color: #fff !important;
}

:global(.container-layout) {
  background: #fff;
}

:global(.next-breadcrumb-item) {
  cursor: pointer;
  &:last-child {
    margin-right: 24px !important;
  }
}

:global(.container-layout > div:first-child > div:last-child) {
  width: 100% !important;
}

:global(.container-layout .windcc-page__content-main) {
  padding-bottom: 0 !important;
}

:global(.nav-title-beta-tag) {
  display: inline-block;
  width: 34px;
  text-align: center;
  height: 18px;
  line-height: 18px;
  color: #fff;
  border-radius: 3px;
  background: #F75555;
  font-size: 8px;
  margin-left: 5px;
}

/* 头部右侧 div 占比 */
:global(.container-layout-header div:last-child) {
  flex-grow: 1;
}

.returnOne {
  width: 120px;
}

:global(.wind-rc-truncate__truncated) {
  text-overflow: clip !important;
}

:global(#content-scroll-top) {
  padding-top: 16px;
}

:global(.introjs-tooltip) {
  width: 260px !important;
}

/* common */
.text-primary {
  color: #0070CC !important;
}
.text-success {
  color: #1d8e3e !important;
}
.text-danger {
  color: #D93026 !important;
}
.text-warning {
  color: #ffc440 !important;
}

.vertical-align-middle {
  vertical-align: middle !important;
}
.vertical-align-top {
  vertical-align: top !important;
}

.text-align-center {
  text-align: center !important;
}
.text-align-left {
  text-align: left !important;
}
.text-align-right {
  text-align: right !important;
}

.position-absolute {
  position: absolute !important;
}
.position-relative {
  position: relative !important;
}
.position-fixed {
  position: fixed !important;
}

.text-ellipsis {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-default {
  cursor: default !important;
}
