.myHeader {
  height: 50px;
  background-color: #fff;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 999;
  box-shadow: 0 2px 4px 0 var(--cb-color-shadow,rgba(0,0,0,0.16));

  .mhContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    height: 100%;

    .logo {
      height: 100%;

      img {
        height: 100%;
        padding: 10px 0;
      }
    }
    .right {
      display: flex;
      float: right;
      height: 38px;
      margin-left: auto;
      overflow: hidden;
      .velaItem {
        display: flex;
        align-items: center;
        justify-items: center;
        height: 38px;
        padding: 0 8px;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s;
        a {
          color: #fff;
          cursor: pointer;
        }
      }
      .userInfo {
        width: 38px;
        height: 38px;
        line-height: 38px;
        border-radius: 50%;
        background-color: #ddd;
        text-align: center;
        color: #333;
      }
    }
  
  }
  
}