.warp {
  width: 500px;
  .top {
    height: 36px;
    background: #f7f7f7;
    color: #555555;
    line-height: 5px;
    padding: 16px;
    margin-bottom: 16px;
    font-size: 12px;
  }
  .item {
    display: flex;
    .left {
      font-size: 12px;
      color: #555555;
      line-height: 32px;
      width: 20%;
    }
  }
  .select {
    width: 80%;
  }
}

.popup {
  :global(.next-menu-item-inner) {
    height: 60px;
  }
  .workspaceName {
    font-size: 12px;
    color: #888888;
  }
}
