.warp {
  width: 100%;
  padding: 16px 25px 0 0;

  .experienceBase{
    width: 520px !important;
  }

  .experienceBaseDescribe{
    width: 520px !important;
  }

  .drillTag{
    width: 520px !important;
  }

  .submit{
    margin-top: 40px;
    border-top: 1px solid #DEDEDE;
    padding-top: 16px;
  }

  :global(.next-form-item-control){
    display: inline-block !important;
    margin-left: 8px !important;
  }

  .errorMessage {
    width: 100%;
    height: 18px;
    margin-left: 30px;
    font-size: 12px;
    color: #f5222d;
    margin-top: 3px;
  
    &.messageHorizontal {
      margin-left: 30px;
    }
  }
}