.normalNodeContainer,
.globalNodeContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
}

.globalNodeContainer {
  margin-right: 29px;
  margin-bottom: 8px;
}

.nodeBox {
  transition: all .3s;
  position: relative;
  padding: 5px 0;
  width: 244px;
  height: 64px;
  border: 1px solid #dedede;
  border-radius: 3px;
  text-align: center;
  background: #fff;
  position: relative;
  overflow: hidden;
}

.nodeBox .topLayer, .bottomLayer {
  height: 50%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nodeBox:hover,
.selectedNode {
  border: 1px solid #0070CC;
  box-shadow: 0 0 4px 0 rgba(0,112,204,0.75);
}

.errorNode,
.errorNode:hover {
  border: 1px solid #D93026;
  box-shadow: 0 0 4px 0 rgba(217,48,38,0.75);
}

.nodeBox :global(.next-icon-ashbin) {
  display: none;
}
.nodeBox:hover :global(.next-icon-ashbin) {
  display: block;
}

.selectedTriangle {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 0 10px;
  border-color: transparent transparent transparent #0070cc;
}

.Icon {
  margin-right: 8px;
}

.topLeftBox,
.topRightBox,
.bottomLeftBox,
.bottomRightBox {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100%;
}

.topLeftBox .stageIcon {
  margin-left: 12px;
  margin-right: 4px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.topLeftBox .nodeName {
  display: block;
  max-width: 140px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bottomLeftBox .parameterInfo {
  width: 100px;
  overflow: hidden;
  margin-left: 12px;
  color: #888;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.firstBox {
  width: 16px;
  min-width: 16px;
}

.headBox, .tailBox {
  position: relative;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.iconHead, .iconTail, .switchArrowIcon {
  position: absolute;
  top: 25px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  color: #0070cc;
  font-weight: bold;
}

.iconHead {
  left: -6px;
}

.iconTail {
  left: 15px;
}

.tailBox,
.tailBoxReadOnly {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tailBox,
.tailBoxReadOnly :global(.next-icon-caret-right) {
  color: #ebebeb;
  margin-right: -5px;
}

.tailBox {
  width: 48px;
}

.tailBoxReadOnly {
  width: 29px;
}

.circle {
  margin-left: -3px;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #dedede;
}

.lastCircle {
  position: absolute;
  left: 124px;
  bottom: -2px;
}

.arrowLineHead,
.arrowLineTail {
  height: 2px;
  background-color: #ebebeb;
}

.arrowLineHead {
  width: 16px;
}

.arrowLineTail {
  flex-grow: 1;
  margin-right: -5px;
}

.switchArrowContainer {
  position: relative;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.switchArrowDownContainer {
  position: relative;
  width: 2px;
  height: 100%;
}

.switchArrowDown, .switchArrowUp {
  position: absolute;
  left: 0;
  width: 2px;
  height: 20px;
  background-color: #ebebeb;
}

.switchArrowDown {
  bottom: 0;
}

.switchArrowUp {
  top: 0;
}

.switchArrowDownIcon {
  position: absolute;
  left: -7px;
  bottom: -3px;
  color: #ebebeb;
}

.switchArrowDownIcon:before {
  height: 16px !important;
}

.switchArrowLine {
  height: 2px;
  background-color: #ebebeb;
}

.switchArrowUpContainer {
  position: relative;
  width: 1px;
  height: 100%;
}

.switchArrowIcon {
  top: 12px;
  left: -7px;
}

.groupOrderBox {
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 45px;
  height: 20px;
  border-radius: 10px;
  background-color: #ebebeb;
  color: #c1c1c1;
}

.action {
  font-size: 12px;
  color: #0070CC;
  cursor: pointer;
}

.userCheck {
  font-size: 12px;
  color: #0070CC;
  cursor: pointer;
  z-index: 99;
}

.userAction {
  margin-left: 5px;
  margin-right: 10px;

  .contiueTryIcon {
    margin-right: 10px;
  }
}

/* 执行节点样式 */
.activityRunning {
  border: 1px solid #DEDEDE;
}

.activityRejected {
  border: 1px solid #86D8F8;
}

.activitySuccess {
  border: 1px solid #1E8E3E;
}

.activityFailed {
  border: 1px solid #D93026;
}