.container {
  min-height: 300px;
  padding: 15px;
}

.preview {
  padding: 6px;
  border: 1px solid rgba(183, 205, 227, 0.5);
  background: rgba(183, 205, 227, 0.1);
  word-wrap: break-word;
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
}
