.warp {
  margin-bottom: 16px;
  .cardContent {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .pagination {
    text-align: right;
    margin-top: 16px;
  }

  .emptyData {
    display: flex;
    align-items: center;
    justify-self: start;
    margin: auto;
    margin-top: 10%;

    img {
      width: 137px;
      height: 130px;
      margin-right: 30px;
    }

    div {
      .title {
        font-family: PingFangSC-Medium;
        font-size: 18px;
        color: #222222;
        margin-bottom: 8px;
      }

      .hrefAction {
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #0070cc;
        cursor: pointer;
      }

      div {
        line-height: 20px;
      }
    }
  }
}

.card {
  width: 384px;
  height: 136px;
  border: 1px solid #dedede;
  padding: 14px 16px 16px;
  margin-top: 16px;
  position: relative;
  cursor: pointer;
  margin-right: 16px;

  &:hover {
    border: 1px solid rgba(0, 112, 204, 0.36);
    box-shadow: 0 1px 8px 0 rgba(0, 112, 204, 0.36);
  }

  .defaultIcon {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .topContent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
    line-height: 22px;

    .cardTitle {
      font-size: 14px;
      color: #333;
      width: 205px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .tipIcon {
        margin-left: 8px;

        i {
          font-size: 16px;

          &::before {
            width: 16px;
            height: 16px;
            font-size: 16px;
            vertical-align: inherit;
          }
        }
      }
    }

    .typeTip {
      font-size: 12px;
      color: #c1c1c1;
    }
  }

  .bottomContent {
    display: flex;
    justify-content: space-between;

    .item {
      .label {
        font-size: 12px;
        color: #555;
        margin-bottom: 4px;
      }

      .value {
        font-size: 28px;
        color: #333;
      }
    }
  }
}

.searchContent {
  width: 420px;
  margin-right: 18px;
}

.buttonAction {
  margin-right: 8px;
}

.appBase {
  width: 100%;
  height: 132px;
  border: 1px solid #dedede;
  padding: 16px;

  .baseTitle {
    font-size: 14px;
    color: #333;
    margin-bottom: 24px;
  }

  .content {
    display: flex;
    justify-content: space-between;

    .leftContent {
      .topLine {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        line-height: 20px;
      }

      .bottomLine {
        display: flex;
        justify-content: flex-start;
        line-height: 20px;
      }

      .lineItem {
        .lineLabel {
          font-size: 12px;
          color: #888;
          display: inline-block;
          width: 108px;
        }

        .lineValue {
          font-size: 12px;
          color: #333;
          display: inline-block;
          width: 181px;
          margin-left: 8px;
        }
      }
    }

    .rightContent {
      display: flex;
      flex: 1;
      justify-content: space-around;

      .label {
        font-size: 12px;
        color: #555;
        margin-bottom: 14px;
      }

      .value {
        font-size: 28px;
        color: #333;
      }

      .groupItem {
        width: 272px;
      }
    }
  }
}

.unit {
  margin-left: 8px;
  font-size: 12px;
  color: #888;
}

.moreTag {
  font-size: 12px;
  color: #0070cc;
  cursor: pointer;
}

.icon {
  font-size: 14px;
  margin-right: 8px;

  &::before {
    font-size: 14px !important;
    width: 14px !important;
  }
}

.onLineState {
  color: #1e8e3e;
}

.notInstall {
  color: #888;
}

.offLineState {
  color: #d93026;
}

.interrupt {
  color: #ffc440;
}

.loading {
  color: #888;
}

.appAccess {
  padding: 0 35px 45px 25px;
  font-family: PingFangSC-Regular;

  .title {
    font-size: 14px;
    color: #333;
  }

  .contentChiose {
    margin-top: 20px;
  }

  .cardContent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .card {
    width: 180px;
    height: 72px;
    background: #f7f9ff;
    border: 1px solid #dedede;
    padding-top: 20px;
    padding-left: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 16px;

    .img {
      width: 28px;
      height: 28px;
      margin-right: 10px;
    }

    .name {
      font-size: 16px;
      color: #555;
    }
  }

  .chioseCard {
    background: #f3faff;
    border: 1px solid #0070cc;
    color: #0070cc;

    .chioseName {
      color: #0070cc;
    }
  }

  .stepContent {
    margin-top: 24px;

    :global(.next-step-item-wait
        .next-step-item-container
        .next-step-item-node-placeholder
        .next-step-item-node
        .next-step-item-node-circle) {
      background: #0070cc;
      border-color: #0070cc;
      color: #fff;
    }

    :global(.next-step-item-wait .next-step-item-body .next-step-item-title) {
      color: #333;
    }
  }

  .codeContent {
    width: 100%;
    padding: 16px 0 16px 24px;
    background: #f2f4f5;
    font-size: 12px;
    color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    position: relative;

    .copy {
      cursor: pointer;
      width: 48px;
      height: 36px;
      background: #dedede;
      padding: 10px 17px;
      position: absolute;
      top: 0;
      right: 0;

      .copyIcon {
        width: 14px !important;
        height: 16px !important;

        &::before {
          width: 14px !important;
          height: 16px !important;
          color: #fff;
        }
      }
    }
  }

  .codeLine {
    line-height: 20px;
  }

  .jvmParam {
    font-size: 12px;
    color: #333333;
    font-family: PingFangSC-Medium;
    margin-bottom: 6px;
  }

  .ulList {
    margin-top: 6px;
    li {
      line-height: 22px;

      &:before {
        content: '';
        width: 4px;
        height: 4px;
        display: inline-block;
        border-radius: 50%;
        background: #0070cc;
        vertical-align: middle;
        margin-right: 6px;
      }
    }
  }

  .jvmWaring {
    margin-top: 16px;
  }

  .podWord {
    font-size: 12px;
    color: #333333;
    line-height: 22px;

    .tag {
      display: inline-block;
      height: 20px;
      padding: 0 8px;
      color: #333;
      background: #f5f5f5;
      border: 1px solid #ccc;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      margin: 0 2px;
    }

    .nameStyle {
      font-family: PingFangSC-Medium;
      font-size: 12px;
      color: #333333;
    }
  }

  .imageContent {
    width: 960px;
    min-height: 154px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .altWord {
    font-size: 12px;
    color: #555;
    line-height: 24px;
  }

  .guide {
    font-size: 12px;
    color: #333;
    margin-top: 24px;
    font-family: PingFangSC-Regular;
  }
}

.loading {
  padding: 15% 45%;
}

.nodeTags {
  margin-right: 4px;
  margin-bottom: 2px;
}

.setItem {
  margin-bottom: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 28px;

  .label {
    width: 80px;
    margin-right: 10px;
    font-size: 12px;
  }

  .value {
    font-size: 12px;
    width: 466px;
  }

  .valueComponent {
    padding-top: 10px;
    width: 300px;
  }
}

.drawerSumit {
  margin-right: 8px !important;
}

.empIds {
  margin-bottom: 30px;

  li {
    height: 28px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.delete {
  color: #0070cc;
  cursor: pointer;
  margin-left: 20px;
}

.drawerContent {
  padding: 20px;

  .label {
    font-size: 12px;
    color: #000;
    line-height: 26px;
  }

  .labelTitle {
    font-size: 12px;
    color: #000;
    line-height: 26px;
    margin-bottom: 5px;
  }

  .description {
    color: #555;
    line-height: 20px;
  }

  .value {
    width: 100%;
    margin-bottom: 20px;
  }
}

.searchWarp {
  display: flex;
  :global(.next-switch-medium) {
    top: 5px;
    margin-right: 8px;
  }
}
